[submodule "themes/kachka"]
	path = themes/kachka
	url = https://github.com/landerwells/hugo-theme-kachka.git
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
