body {
  padding: 0px;
  background-color: #ffffff;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.125rem;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 auto;
}

.content {
  margin: 100px auto 0 auto;
  max-width: 800px;
}

.portrait {
  max-width: 300px;
  height: 300px;
  border-radius: 50%; /* Makes it circular */
  object-fit: cover; /* Crops the sides */
  object-position: center; /* Keeps the face centered */
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* Optional: Shadow */
  display: block;
  margin: 20px auto;
}

/* Nav Bar */
.nav {
  width: 100%;
  max-width: none;
  margin: 0;
  background-color: #99c0f8;
  border-bottom:1px solid #5f1400;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

.nav>li {
  display: inline-block;
  padding-right: 50px;
  font-size: 16px;
}

.nav>li>a {
  text-decoration: none;
  color: #000000;
}

.logo {
  color: #000000;
  float: left;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
}
