

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.title {
    margin: 50px auto;
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
    border: 3px solid #f6d6bd;
    border-radius: 10px;
    width: 60vw;
    color: #f6d6bd;
}



.intro {
    display: inline-block;
    justify-content: center;
    font-size: 20px;
    text-align: justify;
    padding: 0 10vw 0 10vw;
    color: #f6d6bd;
}



/* Nav Bar */

    .nav {
        margin: 0;
        background-color: #20394f;
        color: #ffffff;
        list-style: none;
        text-align: right;
        padding: 20px 0 20px 0;
    } .nav > li {
        display: inline-block;
        padding-right: 50px;
        font-size: 16px;
    } .nav > li > a {
        text-decoration: none;
        color: #f6d6bd;
    } .nav > li > a:hover {
        color: #c1c1c1;
    } .logo {
        color: #000000;
        float: left;
        padding-left: 15px;
        font-size: 20px;
        font-weight: bold;
    } .logo > a {
        text-decoration: none;
        color: #000000;
    } .fade {
        background: #0d2b45;
        background-image: linear-gradient(#000000, #08141e);
        height: 30px;
    }

/* End Nav Bar */



/* Folders */

    .service1 {
        width: 94vw;
        border: 1px solid #0f2a3f;
        margin: 20px 10px;
        padding: 0 5px;
        min-height: 310px;
        border-radius: 10px;
    } .service1 > p {
        font-size: 14px;
        color: #f6d6bd;
        max-width: 250px;
    } .services {
        width: 94vw;
        margin: 0 auto;
    } h6 {
        font-size: 16px;
        font-weight: bold;
        background-color: #0f2a3f;
        color: #f6d6bd;
        padding: 10px 0;
        margin: 0 -6px;
        border-radius: 10px 10px 0 0;
    } .image {
        max-width: 200px;
        margin: 10px;
    } .heading {
        text-align: center;
        color:#f6d6bd;
        font-size: 32px;
        margin: 30vw 0 75px 0; 
    }

/* End Folders */

@media only screen and (min-width: 300px) and (max-width: 1349px) {
    .title {
        font-size: 55px;
    }
    .service1 {
        width: 325px;   
    }
    .nav > li {
        font-size: 12px;
        padding: 4px;
    }
    .bass {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 180px;
    }
}

@media only screen and (min-width: 1350px) {
    .title {
        font-size: 100px;
    }
    .service1 {
        width: 400px;
        float: left;
        
    }
    .services {
        margin: auto;
        width: 1296px;
    }
    .heading {
        margin: 150px;
    }
}