<header>
  <nav>
    <a href="{{ "/" | relURL }}" class="email-link">{{ .Site.Params.email }}</a>
    <span> | </span>
    <a href="{{ "blog/index.xml" | relURL }}">RSS</a>
    <span> | </span>
    <a href="{{ "blog" | relURL }}">blog</a>
    <span> | </span>
    <a href="{{ "notes" | relURL }}">notes</a>
    <span> | </span>
    <a href="{{ .Site.Params.github }}" target="_blank">github</a>
    <span> | </span>
    <a href="{{ .Site.Params.linkedin }}" target="_blank">linkedin</a>
  </nav>
</header>
