{{ define "main" }}
{{ if eq .Section "notes" }}
  {{ partial "graph.html" . }}
{{ end }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  {{ if eq .Section "notes" }}
  <label for="sort_type">Sort notes:</label>
  <select id="sort_type">
    <option value="latest">Latest</option>
    <option value="name">Name</option>
    <option value="top">Top</option>
  </select>
  {{ end }}
  <ul class="blog-posts"{{ if eq .Section "notes" }} id="note_list"{{ end }}>
    {{ range .Pages }}
    {{ $date := .Date.Format "2006-01-02" }}
    {{ $slug := .RelPermalink | strings.TrimSuffix "/" | path.Base }}
    <li{{ if eq $.Section "notes" }} id="{{ $slug }}" data-date="{{ $date }}" data-title="{{ .Title }}"{{ end }}>
      <span>
        <i>
          <time datetime='{{ $date }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if not .Data.Singular }}
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      <a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }}</a>&nbsp;
      {{ end }}
    </div>
  </small>
  {{ end }}
</content>
{{ end }}
